body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Poetsen One', sans-serif;
  background-color: #000;
  color: #dadde3;
}

header {
  background-color: #000;
  position: relative;
  color: white;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-with-gradient {
  background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.5) 100%);
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: white;
}

.logo {
  height: 70px;
  align: center;
}

.menus {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menus li {
  display: inline-block;
  margin-right: 0px;
}

.menus li:last-child {
  margin-right: 0;
}

.menus li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 5px 10px;
  display: block;
}

.menus li a:hover {
  text-decoration: underline;
}

/* Hamburger menu and responsive styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* styles.css */

/* Stile predefinito per l'hamburger (sugli schermi grandi) */
.hamburger-menu {
    display: none; /* Nascondi l'hamburger sugli schermi grandi */
}

/* Stile per le barre dell'hamburger */
.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: #fff; /* Colore bianco per le barre sull'hamburger */
    margin: 4px 0;
    transition: 0.4s;
}



/* Stile iniziale delle barre */
.bar1, .bar2, .bar3 {
  transition: transform 0.4s;
  background-color: #fff; /* Colore bianco per le barre sull'hamburger */
  color: white;
}

/* Trasformazioni per ottenere l'effetto di "X" */
.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 4px);
    background-color: #fff; /* Colore bianco per le barre sull'hamburger */
  color: white;
}

.change .bar2 {
    opacity: 0;
    background-color: #fff; /* Colore bianco per le barre sull'hamburger */
  color: white;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #fff; /* Colore bianco per le barre sull'hamburger */
  color: white;
}

.nav-links {
    display: none;
}

.nav-links.show {
    display: block;
}
.nav-links {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
  transform: translateX(0);
  position: relative;
  background-color: transparent;
  width: auto;
  text-align: center;
  padding: 0;
  z-index: 1000;
}

.nav-links.show {
  transform: translateX(0);
    text-align: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
    text-align: center;
}

.menu {
  max-width: 800px;
  margin: auto;
  background-color: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-top: 5px;
    text-align: center;
}

.menu h1 {
  text-align: center;
  color: #CDA434;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
  background-color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.section h2 {
  text-align: center;
  color: #ffffff;
  font-size: 1.5em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 8px;
}

.section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.section ul li {
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.section ul li:last-child {
  border-bottom: none;
}

.section ul li:before {
  content: "•";
  color: #008f39;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.dish p {
  margin: auto;
  color: #ffffff;
}

.price {
  color: #CDA434;
  text-align: center;
}

.description {
  font-size: 0.9em;
  color: #ffffff;
  text-align: right;
}

.photo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.photo-section p {
  flex: 1;
  padding: 0 1px;
}

.photo-section img {
  max-width: 60%;
  height: auto;
  border: none;
}

.reverse {
  flex-direction: row-reverse;
}

.labelbar {
  padding: 20px;
  color: white;
  text-align: center;
}

.labelbar h1 {
  margin: 0;
  font-size: 2em;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.photo-gallery .flex {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.photo-gallery img {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease;
}

.photo-gallery img:hover {
  transform: scale(1.05);
}

.cards {
  background-color: #CDA434;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cards h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.cards p {
  font-size: 1.2em;
}

.homeheader {
  padding: 20% 0;
  text-align: center;
  background-image: url('../shs/roma.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.animated-title {
  animation: gradient 5s infinite;
  background: linear-gradient(45deg, white, #CDA434);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.sectionA-divider {
  background: url('../shs/sfumatura.png') repeat-y center center;
  margin: 20px 0;
  height: 20px;
}

.sectionA-bubbles::after {
  content: '';
  display: block;
  position: relative;
  bottom: -10px;
  width: 100%;
  height: 30px;
  background: radial-gradient(circle at 10% 10%, #f2f2f2 10%, transparent 10%),
              radial-gradient(circle at 90% 10%, #f2f2f2 10%, transparent 10%),
              radial-gradient(circle at 50% 50%, #f2f2f2 10%, transparent 10%);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: repeat-x;
}

#spark-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}

.spark {
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  animation: spark-animation 700ms ease-out forwards;
}

@keyframes spark-animation {
  to {
    transform: translate3d(var(--x), var(--y), 0) scale(0);
    opacity: 0;
  }
}

.parallax {
  background-image: url('../shs/background.jpg');
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.labelbars, .labelbarsss {
  position: relative;
  overflow: hidden;
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to right, #008f39, #008f39);
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-image: url('../shs/roma.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.labelbars::before, .labelbarsss::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
  animation: animateBackground 10s linear infinite;
}

@keyframes animateBackground {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-50px, -50px);
  }
}

.centered-text {
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .header-container {
    flex-direction: column;
  }
}
