@font-face {
   font-family: 'Itim-Regular';
   font-display: swap;
   src: url('file:///C:/Users/bluby/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-10-22_174324/fonts/Itim-Regular/font.ttf');
}
